@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@900&display=swap');


* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  background: #2980b9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #2980b9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 1920px;
  margin: auto;
}

.containerPerso {
  display: flex;
  margin: 1vw 5vw  0;
}

.containerAdmin{
  margin: 0 15vw;
}

a {
  color: green;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Bouton  */

.btn {
  border-radius: 10px;
  -webkit-border-radius: 10px ;
  -moz-border-radius: 10px ;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 40%), 
              -1px -1px 5px rgb(255 255 255 / 40%)!important;
  padding: 15px;
  font-weight: 400; 
  text-transform: uppercase;
  color: white!important;
  background-color: rgb(30, 30, 30);
  transition: all 0.6s ;
}

.btn:hover {
  background: #2a658e;
  transition: all 0.6s ;
}

.btn:active {
  color: black !important;
}

.btn:focus {
  background-color: rgb(30, 30, 30);
  transition: none ;
}

.active{
  border-radius: 10px;
  -webkit-border-radius: 10px ;
  -moz-border-radius: 10px ;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 40%), 
              -1px -1px 5px rgb(255 255 255 / 40%)!important;
  font-weight: 400; 
  color: white!important;
  background-color: rgb(30, 30, 30);
  transition: none ;
}

/*  Formulaire  */

.form{
  font-size: 12px;
}

.form-select:not([multiple]), .form-control  {
  position: relative;
  box-shadow: none;
  padding: 6px;
}

label{
  color:rgb(210, 210, 210);
}